body {
  background-color: DarkOrange;
}

h1 {
  color: white;
}

td {
  background-color: DodgerBlue;
}

th {
  background-color: DimGray;
  color: white;
}

#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
  border-radius: 25px;
  margin-bottom: 15px;
}

.modal-content {
  background-color: DodgerBlue;
  width: 400px;
}

.jumbotron {
  background-color: DimGray;
  color: white;
}
